<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6eGC_8gdvlSru2QCo_KKMnWk9EbfR7xI</string>
	<key>GCM_SENDER_ID</key>
	<string>490821755961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invest.calculator.reality</string>
	<key>PROJECT_ID</key>
	<string>loans-cf027</string>
	<key>STORAGE_BUCKET</key>
	<string>loans-cf027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490821755961:ios:9932af47280061082cd9e8</string>
</dict>
</plist>